{% extends 'base.html' %}
{% block content %}
<div class='w-11/12 max-w-[720px] h-full mx-auto mb-20'>
    <div>
        <p class="text-2xl font-bold">주문 상품</p>
        <div class="flex flex-col gap-2 mt-5">
            {% for item in order.items.all %}
            <div class="h-24 w-full p-4 flex flex-col gap-4 bg-gray_1 rounded-lg">
                <div class=' rounded-lg bg-gray_1'>
                    <div class='flex flex-col justify-center gap-2'>
                        <p class='text-xl'>{{ item.content }}</p>
                        <p class=''>{{ item.quantity }}개 / {{ item.format_total_price }}원</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}