{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="grid grid-cols-4 gap-8">
    <a href="#">
        <div class="flex flex-col gap-1">
            <img class="aspect-square" src="{% static 'deck.png' %}">
            <div class="">
                <p>[8.0, 8.25] BLUE HOOD</p>
                <div class="flex gap-1 text-sm">
                    <p class="text-blue">59,000원</p>
                    <p class="text-gray"><del>61,000원</del></p>
                </div>
            </div>
        </div>
    </a>
</div>
{% endblock %}