{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="grid grid-cols-4 gap-8">
    {% for product in products %}
    <a href="#">
        <div class="flex flex-col gap-1">
            <img class="aspect-square" src="{{ product.solted_images.first.image.url }}">
            <div>
                <p>{{ product.name }}</p>
                <div class="flex gap-1 text-sm">
                    <p class="text-blue">{{ product.format_discounted}}원</p>
                    {% if product.price != product.discounted %}
                    <p class="text-gray"><del>{{ product.format_price }}원</del></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}