{% extends 'base.html' %}
{% block content %}
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    {% for product in products %}
    <a class='relative' href="{% url 'shop:detail' product.id %}">
        {% if product.is_sold_out %}
        <div class='absolute aspect-square w-16 right-0 border border-gray_3 bg-white m-2 flex flex-col justify-center'>
            <p class='text-center text-sm leading-4'>SOLD OUT</p>
        </div>
        {% endif %}
        <div class="flex flex-col gap-1">
            <img class="aspect-square object-cover" src="{{ product.get_images.first.image.url }}">
            <div>
                <p>{{ product.name }}</p>
                <div class="flex gap-1 text-sm">
                    <p class="text-blue">{{ product.format_discounted }}원</p>
                    {% if product.price != product.discounted %}
                    <p class="text-gray_3"><del>{{ product.format_price }}원</del></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}