{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <!-- font -->
        <style> 
            @font-face {
                font-family: 'Pretendard-Regular';
                src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
                font-weight: 400;
                font-style: normal;
            }
        </style>
    </head>
    <body class="font-regular text-dark w-11/12 mx-auto relative">
        <div class="h-screen">
            <div class="flex justify-between h-12">
                <a href="{% url 'shop:index' %}" class="flex items-center">
                    <p class="text-2xl">LIFEISEGG.</p>
                </a>
                <a href="/cart/" class="flex items-center mx-2">
                    <img class="w-[24px]" src="{% static 'cart.png' %}">
                </a>
            </div>
            <div class="flex justify-start w-full mb-4">
                <hr class="w-full h-[1.5px] bg-dark border-0">
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <footer class="text-[12px] my-4 text-gray_3 h-full">
            <a target="_blank" href="https://pgweb.tosspayments.com/ms/escrow/s_escrowYn.do?mertid=lifeisb7i1">
                <img class="h-6" src="{% static 'escrow.png' %}">
            </a>
            <div class="mt-2">
                <p>상호: 라이프이즈에그 | 대표: 범진우 | 이메일: cs@lifeisegg.shop</p>
                <p>주소: 경기도 용인시 수지구 대지로 139, 106-1004</p>
                <p>사업자등록번호: 776-38-01128 | 통신판매: 제 2023-용인수지-0998 | 호스팅제공자: AWS amazon web service</p>
                <div class="flex justify-evenly mt-2">
                    <a href="{% url 'terms:policy' %}">이용약관</a>
                    <a href="{% url 'terms:privacy' %}">개인정보처리방침</a>
                    <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=7763801128" target="_blank">사업자정보확인</p>
                </div>
            </div>
        </footer>
        
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            dark: '#121212',
                            blue: '#0000ED',
                            gray_1: '#F9F9F9',
                            gray_2: '#303030',
                            gray_3: '#999999'
                            
                        },
                        fontFamily: {
                            regular: ["Pretendard-Regular", "sans-serif"]
                        }
                    }
                }
            }
        </script>
    </body>
</html>
